{% extends "base.html" %}

{% block title %}Log in or sign up{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12 text-center">
      <h1>Log in or sign up</h1>

      <!-- {{ next }} -->

      {% if next == '/deviation_tables/new/' %}
        <div class="alert alert-info">
          <p>Before creating a deviation table you need to either sign in or create an account.</p>
          <p>This is so that we can save the data and let you access it again in the future.</p>
        </div>
      {% endif %}

    </div>
</div>

<div class="row">
    <div class="col-sm-6 text-center">

      {% include "accounts/login_form.html" %}

      <p class="text-info">
        <a href="{% url 'password_reset' %}">Forgotten your password?</a>
      </p>


    </div>


    <div class="col-sm-6 text-center">

      {% include "accounts/register_form.html" %}

    </div>

</div>


{% endblock %}
