<form id="login-form" class="form-signin well" method="post" action="{% url 'login' %}">

  {% csrf_token %}
  <input type="hidden" name="next" value="{% firstof next '' %}" />

  <h2 class="form-signin-heading">Sign in</h2>

  {% if form.errors %}
    <p class="text-danger">Your email address and password didn't match. Please try again.</p>
  {% endif %}

  <label for="id_username" class="sr-only">Email address</label>
  <input type="email" id="id_username" name="username" class="form-control" placeholder="Email address" required autofocus value="{% firstof form.username.value '' %}">

  <label for="id_password" class="sr-only">Password</label>
  <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
