{% extends "base.html" %}
{% load omnirose_tags %}
{% load static %}

{% block title %}{{ object.vessel }}{% endblock %}

{% block content %}


<div class="row">
  <div class="col-sm-12">

    <div class="well">
      <h1>Unlock extra downloads for "{{ object.vessel }}"</h1>

      <p>For <strong>{{ settings.UNLOCK_CURVE_FORMATTED_PRICE }}</strong> you can unlock additional downloads such as:</p>
      <ul>
          <li>Hi-res and ready to print PDFs of <strong>conversion roses</strong> for all variations.</li>
          <li>Hi-res <strong>combined table</strong> PDF.</li>
      </ul>

      <p>
        <form action="" method="POST">
          {% csrf_token %}

          <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{ settings.STRIPE_PUBLIC_KEY }}"
            data-image="{% static 'rose_cropped.png' %}"
            data-name="OmniRose"
            data-description="Unlock extra downloads"
            data-currency="{{ settings.UNLOCK_CURVE_CURRENCY }}"
            data-amount="{{ settings.UNLOCK_CURVE_PRICE }}"
            data-label="Unlock for {{ settings.UNLOCK_CURVE_FORMATTED_PRICE }}"
            data-email="{{ user.email }}"
          >
          </script>
        </form>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

    <h2>Available after unlocking:</h2>

    <div class="media">

      <div class="media-left">
        <img class="media-object" style="border: 1px solid #eee" src="{% url 'curve_rose_png' pk=object.id %}" width="100">
      </div>
      <div class="media-body">
        <h3 class="media-heading">Conversion Roses</h3>

        <p>A conversion rose lets you convert between true, magnetic and compass bearings instantly and accurately without doing any calculations. For more details please see the <a href="{% url 'curve_home' %}#conversion-roses">full description</a>.</p>

        <ul>
          <li>The downloaded PDFs are high resolution and printer ready for both A4 and Letter sized paper.</li>
          <li>You select which variations you want generated depending on where globally you are.</li>
          <li>PDFs can be downloaded immediately after payment.</li>
        </ul>

      </div>
    </div>

    {# ##################################################################### #}

    <div class="media">

      <div class="media-left">
        <img class="media-object" style="border: 1px solid #eee" src="{% url 'curve_table_png' pk=object.id right='compass' %}" width="100">
      </div>
      <div class="media-body">
        <h3 class="media-heading">Combined Table</h3>

        <p>A combined table lets you accurately determine the deviation from both compass and magnetic bearings. It can also be used to convert between compass and magnetic. For more details please see the <a href="{% url 'curve_home' %}#combined-table">full description</a>.</p>

        <ul>
          <li>The downloaded PDFs are high resolution and printer ready for both A4 and Letter sized paper.</li>
          <li>PDFs can be downloaded immediately after payment.</li>
        </ul>

      </div>

    </div>


  </div>
</div>




{% endblock %}
