{% extends "base-blurb.html" %}
{% load staticfiles %}

{% block title %}Deviation Tables{% endblock %}

{% block blurb %}

    <div class="row">
        <div class="col-xs-12">

            <h1>Deviation Tables and Conversion Roses</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <p><a class="btn btn-lg btn-primary center-block" href="{% url 'curve_create' %}">Create your deviation table.</a></p>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Introduction</h2>

            <p>The compass on your boat should point to magnetic north. However there will be magnetic objects on your boat like the engine and other instruments. These will affect your compass and make it less accurate. A <strong>deviation table</strong> tells you the error at various bearings and allows you to correct for them. <a href="{% url 'curve_create' %}">Create a deviation table</a>.</p>

            <p>Deviation tables can be confusing to use. For a really simple way to convert between your compass, magnetic and true bearings use a <strong>conversion rose</strong>. It accounts for the deviation caused by magnetic objects near the compass (as defined by your deviation table) and the magnetic variation depending on your geographic location. <a href="{% url 'curve_create' %}">Create a deviation table</a> first and then make a conversion rose from it.</p>

        </div>
    </div>


    <div class="row">

        <div class="col-xs-6 text-center">
          <figure>
            <img class="img-responsive square" src="{% static 'table.png' %}">
            <figcaption>Deviation table</figcaption>
          </figure>
        </div>

        <div class="col-xs-6 text-center">
          <figure>
            <img class="img-responsive square" src="{% static 'rose.png' %}">
            <figcaption>Conversion rose</figcaption>
          </figure>
        </div>

    </div>


    <div class="row">

        <div class="col-xs-12">

            <h2 id="deviation-tables">Deviation Tables</h2>

            <div class="text-center pull-right" style="margin: 0 0 1em 1em">
              <figure>
                <img width=200 height=200 src="{% static 'table_cropped.png' %}">
                <figcaption>Deviation table closeup</figcaption>
              </figure>
            </div>

            <p>The deviation table tells you how much your compass is off by when you are pointing in a certain direction. For example imagine your boat is pointing directly at magnetic north (so your ship's heading is 0°). If your compass then reads 004° it is being affected by the metal on your boat. This would be a deviation of 4° west as the magnetic north pole your ship sees is 4° west of the true magnetic north pole. It can all get rather confusing.</p>

            <p>To create a deviation table you repeat the above process for all directions, typically every 30° or 15° (known as "swinging the ship"). Each of these measurements goes on tho the table as a red dot. A line is then drawn joining up the red dots as best as possible.</p>

            <p>The line in the deviation tables does not always go through all the dots. We use a mathematical formula to generate the line and fit it as best as possible. As there is an inherent error in taking the deviations they may not always fit perfectly.</p>

            <p>When navigating the deviation table can then be used to convert between magnetic and compass bearings. The easiest and most reliable way to do this is to use a conversion rose as explained below.</p>

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12">

            <h2 id="conversion-roses">Conversion Roses</h2>

            <div class="text-center pull-right" style="margin: 0 0 1em 1em">
              <figure>
                <img width=200 height=200 src="{% static 'rose_cropped.png' %}">
                <figcaption>Conversion rose closeup</figcaption>
              </figure>
            </div>

            <p>A conversion rose makes converting bearings between compass, magnetic and true very easy. There is no need to do calculations or lookup values on the deviation table.</p>

            <p>There are three rings in a conversion rose. The middle green ring is true. The outer red ring is magnetic and is rotated around according to the variation that the rose represents (in this case 7°W). The inner ring is compass and is corrected both for the variation <strong>and</strong> the deviation. The degrees on the three rings also have a superscript <tt>M</tt>, <tt>T</tt> or <tt>C</tt> instead of the usual <tt>°</tt> as a reminder.</p>

            <p>Examples: Say you want to steer a course of 10° true. From the conversion rose it is easy to see that this would be 17° magnetic and 19° compass. Likewise if the helmsman reports that the heading is 25° compass then it is easy to see this is 16° true.</p>

            <p>The key thing to note is that the compass ring (inner blue one) in not only rotated for the variation (7°W in this sample) but the spacing between the degrees is also adjusted to correct for the deviation. On the closeup on the right note how 10° compass is 0° true, but that 30° compass is 22° true. This is because the deviation at 10° compass is about 3°W, whereas at 30° compass it is about 1°W.</p>

            <p>Once you've <a href="{% url 'curve_create' %}">created a deviation table</a> you can choose to upgrade to create conversion roses.</p>

            <div class="clearfix"></div>

        </div>
    </div>

{% endblock %}