{% extends "base.html" %}

{% block title %}{{ object.vessel }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12 text-center">
    <h1>{{ object.vessel }} <small>{{ object.note }}</small></h1>
  </div>
</div>

<div class="row">
<div class="col-sm-4 text-center">

  <h2>Readings</h2>

  <p><a href="{% url 'curve_readings' pk=object.id %}">Edit readings</a></p>

  <table class="table table-striped table-bordered table-condensed">

    <thead>
      <tr>
        <th class="text-center">Ship's Head</th>
        <th class="text-center">Deviation</th>
      </tr>
    </thead>

    <tbody>
      {% for reading in object.reading_set.all %}
        <tr>
          <td>
            {{ reading.ships_head|floatformat }}°
          </td>

          <td>
            {{ reading.deviation|floatformat }}°
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>


<div class="col-sm-4 text-center">
  <h2>Deviation Table</h2>

  <p>Low-res sample table.</p>

  {% if object.can_calculate_curve %}
    <img class="img-responsive" style="border: 1px solid #eee" src="{% url 'curve_table_png' pk=object.id %}">
  {% else %}
    <p class="text-warning">Preview cannot be generated as there are too few deviation readings.</p>
    <p class="text-warning">Please <a href="{% url 'curve_readings' pk=object.id %}">enter some</a>.</p>
  {% endif %}

</div>


<div class="col-sm-4 text-center">
  <h2>OmniRose</h2>

  <p>Low-res sample for 7°W variation.</p>

  {% if object.can_calculate_curve %}
    <img class="img-responsive" style="border: 1px solid #eee" src="{% url 'curve_rose_png' pk=object.id %}">
  {% else %}
    <p class="text-warning">Preview cannot be generated as there are too few deviation readings.</p>
    <p class="text-warning">Please <a href="{% url 'curve_readings' pk=object.id %}">enter some</a>.</p>
  {% endif %}
</div>

</div>
{% endblock %}
