{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Add deviation table{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <h1>Add a new deviation table.</h1>
  </div>
</div>

<div class="row">
<div class="col-xs-12 col-sm-6 col-sm-offset-3 jumbotron">

<form method="post" action="" role="form" class="form">
    {% csrf_token %}

    {{ form|bootstrap }}

    <div class="form-group">
      <button type="submit" class="btn btn-primary">
        Add deviation table
      </button>
    </div>
</form>


</div>
</div>

{% endblock %}
