{% extends "base.html" %}

{% block title %}{{ object.vessel }} equation selection{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h1>Choose equation</h1>
    </div>
  </div>


  <div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center">

    <form role="form" action="" method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

      <div class="form-group">
        {{ form.equation.errors }}
        {{ form.equation }}
      </div>

      <div class="btn-group">
        <span class="btn btn-default" id="simpler_button">
          <span class="glyphicon glyphicon-arrow-left"></span>

        </span>
        <button type="submit" class="btn btn-success">Choose</button>
        <span class="btn btn-default" id="complex_button">
          <span class="glyphicon glyphicon-arrow-right"></span>
        </span>
      </div>

    </form>

  </div>
  </div>

  <div class="row">
  <div class="col-sm-12 text-center">


  {% if object.can_calculate_curve %}
    <p class="text-info" id="loading">&nbsp;</p>
    <img
      id="table_preview"
      style="border: 1px solid #eee; max-width: 100%"
      src="{% url 'curve_table_png' pk=object.id %}?crop=1"
    >
  {% else %}
    <p class="text-warning">Preview cannot be generated as there are too few deviation readings.</p>
    <p class="text-warning">Please <a href="{% url 'curve_readings' pk=object.id %}">enter some</a>.</p>
  {% endif %}

  </div>
  </div>

{% endblock %}

{% block javascript %}
  <script type="text/javascript">

    $(function () {

      var $table_preview = $("#table_preview");
      var base_src_url = $table_preview.attr('src');

      var $select_box = $('#{{ form.equation.id_for_label }}');
      var $loading = $('#loading');

      $table_preview.on('load', function () {
        $loading.html("&nbsp;");
      });

      $select_box.on('change', function () {
        var selected_equation = $(this).val();
        var new_src = base_src_url + "&equation=" + selected_equation;
        $loading.text("Loading new preview...");
        $table_preview.attr('src', new_src);
      });

      $("#simpler_button").on('click', function () {
        var next_val = $select_box.find(':selected').next().val();
        if (next_val) {
          $select_box.val(next_val).change();
        }
      });

      $("#complex_button").on('click', function () {
        var prev_val = $select_box.find(':selected').prev().val();
        if (prev_val) {
          $select_box.val(prev_val).change();
        }
      });

    });
  </script>
{% endblock %}


