{% extends "base.html" %}

{% block title %}{{ object.vessel }} readings edit{% endblock %}

{% block content %}

  <h1>{{ object.vessel }} Readings</h1>

  {% with form as formset %}

  <div class="col-sm-6 col-sm-offset-3 text-center">
    <form method="post" action="">
      {% csrf_token %}
      {{ formset.management_form }}

      <table class="table table-striped table-bordered table-condensed">

        <tr>
          <th class="text-center">Ship's Head</th>
          <th class="text-center">Deviation</th>
        </tr>


          {% for reading_form in formset %}
          <tr>
            <td>
              {{ reading_form.ships_head }}°
            </td>

            <td>
              {{ reading_form.deviation }}
            </td>
          </tr>


          {% endfor %}
      </table>

      <button type="submit" class="btn btn-default">Save</button>

    </form>

  </div>

  {% endwith %}

{% endblock %}
