{% extends "base.html" %}
{% load omnirose_tags %}
{% load static %}

{% block title %}{{ object.vessel }}{% endblock %}

{% block content %}


<div class="row">
  <div class="col-sm-12">

    <div class="well">
      <h1>Purchase conversion roses.</h1>

      <p>For <strong>{{ settings.ROSE_FORMATTED_PRICE }}</strong> you can download hi-res and ready to print PDFs of conversion roses for {{ object.vessel }}.</p>

      <p>
        <form action="" method="POST">
          {% csrf_token %}

          <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="{{ settings.STRIPE_PUBLIC_KEY }}"
            data-image="{% static 'rose_cropped.png' %}"
            data-name="OmniRose"
            data-description="Conversion roses for {{ object.vessel }}"
            data-currency="{{ settings.ROSE_CURRENCY }}"
            data-amount="{{ settings.ROSE_PRICE }}"
            data-label="Pay {{ settings.ROSE_FORMATTED_PRICE }} to download"
            data-email="{{ user.email }}"
          >
          </script>
        </form>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">

    <h3>About the downloads</h3>

    <p>The downloaded PDFs are high resolution and printer ready for both A4 and Letter sized paper.</p>

    <p>You select which variations you want generated depending on where globally you are.</p>

    <p>PDFs can be downloaded immediately after payment.</p>


    <h3>About conversion roses</h3>

    <p>A conversion rose lets you convert between true, magnetic and compass bearings instantly and accurately without doing any calculations. For more details please see the <a href="{% url 'curve_home' %}#conversion-roses">full description</a>.</p>


  </div>

  {# ------------------------------------------------------------------ #}

  <div class="col-sm-4 text-center pull-right">
        <img class="img-responsive" style="border: 1px solid #eee" src="{% url 'curve_rose_png' pk=object.id %}">
  </div>

</div>



{% endblock %}
