{% extends "base.html" %}
{% load omnirose_tags %}
{% load static %}
{% load bootstrap %}

{% block title %}Rose Download for {{ object.vessel }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <h1>Rose Download</h1>
  </div>
</div>


<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <form class="well" action="{% url 'curve_rose_select' object.id %}" method="post">
      {# <h1>Download conversion roses for {{ object.vessel }}</h1> #}
        <legend>Download conversion roses for {{ object.vessel }}</legend>

        {% csrf_token %}
        {{ form|bootstrap }}

        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            Download conversion roses
          </button>
        </div>

    </form>

  </div>
</div>


<div class="row">

  <div class="col-sm-4">

    <p>Use the form to select the variations you want to produce conversion roses for.</p>

    <p>You can find your region's variation by looking on a chart where it will normally be printed inside the compass rose.</p>

    <p>As a guide some sample regions are given in the table.</p>

    <p>Also provided is a global magnetic variation map which can be used to determine the selection of conversion roses you will need for certain passages or regions.</p>

  </div>

  {# ------------------------------------------------------- #}

  <div class="col-sm-4">

    <div class="panel panel-default">
      <div class="panel-heading">Selected regions</div>
      <table class="panel-body table table-striped table-hover">
        <thead>
          <tr>
            <th>Region</th>
            <th>From</th>
            <th>To</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for region in regions %}
          <tr>
            <td>{{ region.name }}</td>
            <td>{{ region.start|east_west }}</td>
            <td>{{ region.end|east_west }}</td>
            <td>
              <a href="{% url 'curve_rose_pdf' pk=object.id var_min=region.start var_max=region.end %}">
                <span class="glyphicon glyphicon-cloud-download"></span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {# ------------------------------------------------------- #}

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Global magnetic variation map.
      </div>
      <div class="panel-body">
        <a href="http://ngdc.noaa.gov/geomag/WMM/data/WMM2015/WMM2015_D_MERC.pdf" target="_blank">
          <img class="img-responsive" src="{% static 'wmm2015_d_merc.png' %}">
        </a>
      </div>
      <div class="panel-footer">
        A full size PDF available for download on <a href="http://ngdc.noaa.gov/geomag/WMM/">the NOAA website</a>
        <small>(1.6<abbr title="megabytes">MB</abbr>)</small>.
      </div>
    </div>
  </div>

</div>


{% endblock %}
