{% extends "base.html" %}
{% load omnirose_tags %}
{% load static %}

{% block title %}{{ object.vessel }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12 text-center">
    <h1>Error with {{ object.vessel }}</h1>
  </div>
</div>

{% if message %}
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center alert alert-danger" role="alert" id="stripe_error_message">
    {{ message }}
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-sm-4 text-center">
    <p>
      <a href="{% url 'curve_rose_purchase' pk=object.id %}">Please try again.</a>
    </p>
  </div>
</div>


{% endblock %}
