{% extends "base.html" %}
{% load firstof from future %}

{% block title %}Log in{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-offset-4 col-sm-4 text-center">

      <form class="form-signin" method="post" action="{% url 'login' %}">

        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />

        <h2 class="form-signin-heading">Please sign in</h2>

        {% if form.errors %}
          <p class="text-danger">Your email address and password didn't match. Please try again.</p>
        {% endif %}

        <label for="id_username" class="sr-only">Email address</label>
        <input type="email" id="id_username" name="username" class="form-control" placeholder="Email address" required autofocus value="{% firstof form.username.value '' %}">

        <label for="id_password" class="sr-only">Password</label>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

      <p class="text-info">
        <a href="{% url 'register' %}">Create an account</a>
      </p>

      <p class="text-info">
        <a href="{% url 'password_reset' %}">Forgotten your password?</a>
      </p>


    </div>
</div>


{% endblock %}





