{% extends "base.html" %}

{% block title %}Choose new password{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-offset-4 col-sm-4 text-center">

      <form class="form-signin" method="post" action="">

        {% csrf_token %}

        <h2 class="form-signin-heading">Password reset</h2>

        {% if form.errors %}
          <p class="text-danger">Something went wrong. Please try again.</p>
        {% endif %}

        <p class="text-info">Please enter your new password twice so we can verify you typed it in correctly.</p>

        <label for="id_new_password1" class="sr-only">New Password:</label>
        <input type="password" id="id_new_password1" name="new_password1" class="form-control" placeholder="New Password" required autofocus>

        <label for="id_new_password2" class="sr-only">Confirm Password:</label>
        <input type="password" id="id_new_password2" name="new_password2" class="form-control" placeholder="Confirm Password" required autofocus>

        <br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>

      </form>

      <p class="text-info">
        <a href="{% url 'login' %}">Log in</a>
      </p>

    </div>
</div>


{% endblock %}








