{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-offset-4 col-sm-4 text-center">

        <h1>Password reset</h1>

        <p class="lead text-success">We've emailed you instructions for changing your password. You should be receiving them shortly.</p>

        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

  </div>
</div>

{% endblock %}