html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

figure {
  box-shadow: 0 0 1px 1px #eee;
}

img {
  /* http://webmasters.stackexchange.com/a/78977 */
  filter: none;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

img.img-responsive {
  background-color: #fff;
}

figcaption {
  background-color: #eee;
}

/* Aim to get rid of this with proper product shots */
.square-image {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.square-image img{
    position:absolute;
}