html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

img.img-responsive {
  box-shadow: 0 0 1px 1px #eee;
  background-color: #fff;
}

/* Aim to get rid of this with proper product shots */
.square-image {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.square-image img{
    position:absolute;
}