{% extends "base-blurb.html" %}
{% load staticfiles %}

{% block title %}About Us{% endblock %}

{% block blurb %}

    <div class="row">
        <div class="col-xs-12">

            <h1>About Us!</h1>

            <p>We are a small team of sailors and technical enthusiasts who are trying to make sailing easier and safer one little innovation at a time.</p>

            <p>Mostly we believe in keeping it simple and robust. Our tools are single purpose and as simple and robust as possible whilst still being functional. For example our first tool just lets you print out clear and precise deviation tables and conversion roses so you can laminate them and put them by your chart table.</p>

            <p>Future products will be more sophisticated - such as a smart timer for night watches and a position logger. Contact us if you want to know more.</p>

        </div>


    </div>

{% endblock %}