<footer class="footer">
    <div class="container">

        <div class="row">
            <div class="col-sm-6">

              <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'about' %}">About us</a></li>
                <li><a href="{% url 'privacy' %}">Privacy, cookies, etc.</a></li>

                <li role="presentation" class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="https://github.com/OmniRose/omnirose-website/issues" role="button" aria-haspopup="true" aria-expanded="false">
                    Report a bug <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="mailto:{{ settings.HELLO_EMAIL_ADDRESS }}?subject={{ 'I found a bug!'|urlencode }}">by Email</a></li>
                    <li><a href="https://github.com/OmniRose/omnirose-website/issues">on GitHub</a></li>
                  </ul>
                </li>

                <li><a href="https://github.com/OmniRose/omnirose-website">Open source code</a></li>
                <li><a href="mailto:{{ settings.HELLO_EMAIL_ADDRESS }}"><span class="glyphicon glyphicon-envelope"></span> {{ settings.HELLO_EMAIL_ADDRESS }}</a></li>
              </ul>

            </div>

            <div class="col-sm-6 text-right">
              {% include "mailchimp-subscribe-form.html" %}
            </div>

        </div>


        <div class="row">
            <div class="col-xs-12 text-center">
              <p>&copy; 2015 OmniRose.com</p>
            </div>
        </div>

      </div>
</footer>
