{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="row">
        <div class="center-block text-center">
            <h1>Title!</h1>
            <p class="lead">Subtitle.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 text-center">
          <div class="well">
            <h2>Deviation Tables</h2>
            <div class="square-image">
              <img class="img-responsive square" src="{% static 'table.svg' %}">
            </div>
            <p>Clean and easy to use, customized to your compass. Print out and keep onboard.</p>
          </div>
        </div>

        <div class="col-sm-4 text-center">
          <div class="well">
            <h2>Conversion Rose</h2>
            <div class="square-image">
              <img class="img-responsive" src="{% static 'rose.svg' %}">
            </div>
            <p>Based on your deviation table this rose lets you instantly and accurately convert between true, magnetic and compass bearings. Print out and keep onboard.</p>
          </div>
        </div>


    </div>

{% endblock %}