<form
  action="//omnirose.us11.list-manage.com/subscribe/post?u=fedfd7225db630ee858c5b743&amp;id=4cd8c290c9"
  method="post" id="mc-embedded-subscribe-form"
  id="mc-embedded-subscribe-form"
  name="mc-embedded-subscribe-form"
  class="validate form-inline"
  target="_blank"
  novalidate
>

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;">
    <input type="text" name="b_fedfd7225db630ee858c5b743_4cd8c290c9" tabindex="-1" value="">
  </div>

  <div class="form-group">

    <input type="email" value="" name="EMAIL" class="form-control input-sm" id="mce-EMAIL" placeholder="you@example.com" required>

    <button class="btn btn-default btn-sm" type="submit">Subscribe for announcements</button>

  </div>

</form>
