<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">OmniRose</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'home' %}">Foo</a></li>
              <li><a href="{% url 'home' %}">Bar</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'home' %}">
                    {{ user.get_full_name }}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'curve_list' %}">Curves</a></li>
                    <li><a href="{% url 'logout' %}?next={% url 'home' %}">logout</a></li>
                  </ul>
                <li>
              {% else %}
                <li>
                    <a href="{% url 'login' %}">log in</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">create account</a>
                </li>
              {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container -->

</nav>
