{% extends "base-blurb.html" %}
{% load staticfiles %}

{% block title %}Privacy Policy{% endblock %}

{% block blurb %}

    <div class="row">
        <div class="col-xs-12">


          <!--
              This privacy policy is heavily inspired by the privacy policies of
              some mySociety sites - notably:

                * http://www.theyworkforyou.com/privacy/
                * https://www.fixmystreet.com/privacy

              mySociety does wonderful things: https://www.mysociety.org/
          -->


          <h1>Privacy Policy</h1>

          <p>We've tried to keep this privacy policy simple and clear.</p>


          <h2>Basics</h2>

          <ul>
            <li>We will not sell or distribute any personal information you share with us without your permission.</li>
            <li>We will not send you unsolicited email, only email that relates to your use of this website.</li>
            <li>We will gladly show you the personal data we store about you in order to run the website.</li>
          </ul>


          <h2>Email and mailing lists</h2>

          <p>We occasionally send email for purposes such as telling you your password when you create an account, when you've forgotten your password, or similar. We may also send you an email when a change occurs on the site that might affect your use of the site.</p>

          <p>We operate an announcement mailing list using the <a href="http://mailchimp.com/">MailChimp</a> mailing list service. If you are receiving email from this list it is because you subscribed and then opted in. If you'd like to leave the list there is an unsubscribe link at the bottom of every email. You can also read <a href="http://mailchimp.com/legal/">MailChimp's policies</a>.</p>


          <h2>Cookie policy</h2>

          <p>We use cookies to store that you've signed in to the site. We also use cookies to prevent cross site request forgery when you submit forms on this site. Without cookies it is not possible to use the parts of this site that require you to log in.</p>

          <p>These are the cookies that we use:</p>

          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Purpose</th>
                <th>Expires</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>sessionid</td>
                <td>Tracking who you are logged into the site as.</td>
                <td style="white-space: nowrap;">2 weeks</td>
              </tr>
              <tr>
                <td>csrftoken</td>
                <td>Preventing <a href="https://en.wikipedia.org/wiki/Cross-site_request_forgery">cross site request forgery</a> - which is where another site tries to make your browser do something on this site. This cookie just stores a random string that the other site cannot know.</td>
                <td style="white-space: nowrap;">1 year</td>
              </tr>
            </tbody>
          </table>


          <h2>Google Analytics</h2>

          <p>We use <a href="http://www.google.com/analytics/">Google Analytics</a> to see how users use our site. This allows us to improve the site based on how people use it.</p>

          <p>Google Analytics sets the following cookies:</p>

          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Purpose</th>
                <th>Expires</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>_ga</td>
                <td>Used to distinguish users.</td>
                <td style="white-space: nowrap;">2 years</td>
              </tr>
              <tr>
                <td>_gat</td>
                <td>Used to throttle request rate.</td>
                <td style="white-space: nowrap;">10 minutes</td>
              </tr>
            </tbody>
          </table>

          <p>For more details on Google Analytics cookies please see <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/domains">their guide</a>.</p>


          <h2>Stripe payments</h2>

          <p>We charge for some of the services we provide and we use <a href="https://stripe.com/">Stripe</a> to collect these payments. We never see your credit card details nor do we store them on our servers.</p>


          <h2>Email sending through Postmark</h2>

          <p>We use an email sending service from <a href="https://postmarkapp.com/">Postmark</a> for emails such as password reminders etc.</p>


          <h2>Who's running this site?</h2>

          <p>This site is run by Edmund von der Burg. </p>


          <h2>Any questions?</h2>

          <p>If you have any questions please ask us using <a href="mailto:{{ settings.HELLO_EMAIL_ADDRESS }}">{{ settings.HELLO_EMAIL_ADDRESS }}</a>.</p>

        </div>


    </div>

{% endblock %}

