{% extends "base.html" %}

{% block title %}Swinging Demo{% endblock %}

{% block content %}

  <h1>Swinging Demo</h1>

  <p>This is only demo code, not ready for production yet.</p>

  <input id="file_input" type="file" accept="video/*"/>

  <input id="degree_input" type="number"/>
  <br>

  <button id="step_backward_btn">step backwards</button>
  <span id="video_current_time">-</span>
  <button id="step_forward_btn">step forwards</button>
  <br>

  <button id="record_position_btn">record position</button>
  <br>

  <video height="200" muted></video>

  <ul id="data"></ul>


{% endblock %}

{% block javascript %}
  <script>
  {% include "swinging.js" %}
  </script>
{% endblock %}
