{% if user.is_authenticated %}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'curve_list' %}">
      Your deviation tables
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">

      {% for curve in user.curve_set.all %}
        <li>
          <a href="{% url 'curve_detail' pk=curve.id %}">
            {{ curve }}
          </a>
        </li>
      {% endfor %}

      <li><a href="{% url 'curve_create' %}">
        <span class="glyphicon glyphicon-plus"></span>
        Add a new deviation table
      </a></li>

      <li><a href="{% url 'curve_list' %}">All deviation tables</a></li>


    </ul>
  <li>

{% else %}
  <li><a href="{% url 'curve_home' %}">Deviation Tables &amp; Roses</a></li>
{% endif %}
