bcrypt==3.1.0
cairocffi==0.7.2
cffi==1.7.0
Django<1.11
django-bootstrap-form==3.2.1
django-settings-export==1.1.0
django-templated-email==0.5
numpy==1.11.1
psycopg2==2.6.2
pycparser==2.14
python-postmark==0.4.9
requests==2.11.1
scipy==0.18.0
selenium
six==1.10.0
stripe==1.37.0
