bcrypt==2.0.0
cairocffi==0.7.2
cffi==1.2.1
Django==1.8.4
django-bootstrap-form==3.2
django-settings-export==1.0.5
django-template-email==0.1
numpy==1.9.2
psycopg2==2.6.1
pycparser==2.14
python-postmark==0.4.7
requests==2.7.0
scipy==0.16.0
selenium==2.47.1
six==1.9.0
stripe==1.25.0
