{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Swinging a compass{% endblock %}

{% block content %}

    <div class="row">
        <div class="center-block text-center">
            <h1>Swinging a compass</h1>
            <p class="lead">So you know which direction you're actually pointing in.</p>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-8 col-sm-offset-2">

          <h2>Overview</h2>

          <p><strong>Swinging a compass</strong> is what you do to calibrate a compass. It allows you to work out what effect magnetic materials on your boat are having on your compass and correct for them.</p>

          <p>There are lots of different ways to swing a compass, many listed and explained below.</p>

          <p>The basic premise is the same for all of them. Point the boat in a known direction and then see what the compass says. The difference between the correct heading and the compass tells you the deviation on that heading. Several deviations are collected together into FIXME blah blah</p>

          <p>I find how compasses work fascinating, I hope you will too. But rather than bore on here I've created a <a href="{% url 'swinging_compass_theory' %}">compass theory</a> page with all the details on.</p>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
          <h2>Ways to swing your compass</h2>

          <h3>
            Using the sun
            <small><a href="{% url 'swinging_sun_home' %}">read more &hellip;</a></small>
          </h3>

          <p>The sun is in a known position in the sky so it is possible to use it as the fixed reference point. We've created a really simple way to record the angle to the sun without needing any fancy equipment.</p>

          <h3>
            Using known bearings
            <small><a href="#FIXME">read more &hellip;</a></small>
          </h3>

          <p>Align your boat so that it is pointing in a known direction and note down the compass reading. Comparing the compass reading to the known reading gives you your deviation.</p>


        </div>

    </div>

{% endblock %}
