{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Using the Sun to swing a compass{% endblock %}

{% block content %}

    <div class="row">
        <div class="center-block text-center">
            <h1>Using the Sun to swing a compass</h1>
            <p class="lead">Assuming it's not cloudy, of course&hellip;</p>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-8 col-sm-offset-2">

          <h2>The Sun as a fixed reference point</h2>

          <p>By getting the sun to cast a shadow onto a compass rose and knowing where the sun is in the sky it is possible to precisely determine the direction your boat is pointing in.</p>

          <h2>The solar pelorus</h2>

          <p>A <strong>pelorus</strong> is a fancy name for something that tells you the angle to something from you boat. In our case it is the angle to the sun.</p>

          <p>What makes ours special is that it is so easy to set up using things that are certain to be on your boat - drinks cans.</p>

          <h2>Equipment needed</h2>

          <ul>
            <li>A drinks can (not dented)</li>
            <li>A print out of the solar pelorus</li>
            <li>Something to mount the pelorus on</li>
            <li>GPS readout of your current location, or </li>
          </ul>

        </div>
    </div>

{% endblock %}
