{% extends "base.html" %}
{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'swing/sun.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block title %}Sun Swinging Demo{% endblock %}

{% block content %}

  <h1>Sun Swinging Demo</h1>

  <p>This is only demo code, not ready for production yet. To use you need two videos  - one of the compass and one of the sun on a special sun shadow card we produce - the sun pelorus.</p>


  <div class="row">
    {% include "swing/video_container.html" with heading="Compass" id="compass_video_container" %}
    <div class="col-sm-6">
      <h3>shadow</h3>
      {# <input id="shadow_input" type="file" accept="video/*"/> #}
      {# <video id="shadow_video" class="img img-responsive" muted></video> #}
    </div>
  </div>

  <div>
  </div>

  <ul id="data"></ul>


{% endblock %}
