{% extends "base.html" %}
{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'swing/jquery.panzoom.v2.0.5.min.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'swing/magellan-v1.0.6.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'swing/sun.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block title %}Sun Swinging Demo{% endblock %}

{% block content %}

  <h1>Sun Swinging Demo</h1>

  <p>This is only demo code, not ready for production yet. To use you need two videos  - one of the compass and one of the sun on a special sun shadow card we produce - the sun pelorus.</p>

  <h2>Todo list:</h2>

  <ul>
    <li>Add code to return the current solar azimuth for a given time</li>
    <li>Record and compute the various readings of the deviation</li>
    <li>Store these readings to create a deviation table</li>
  </ul>


  <div class="row">
    {% include "swing/video_container.html" with heading="Compass" id="compass_video_container" controls_class="compass_video_controls" %}
    {% include "swing/video_container.html" with heading="Shadow"  id="shadow_video_container"  controls_class="shadow_video_controls" %}
  </div>


  <div class="row user_step">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Synchronise the videos</h3>
        </div>
        <div class="panel-body">

          <p>To compare the readings on the compass to the readings on the shadow pelorus we need to sync the two videos. FIXME blah blah.</p>

          <button id="synchronise_videos">Synchronise videos!</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row user_step">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Enter the compass and shadow readings.</h3>
        </div>
        <div class="panel-body">

          <p>FIXME - explain to the user what to do.</p>

          <form id="reading_enter_form">

            <table id="reading_enter_table" class="table table-striped">
              <thead>
                <tr>
                  <th>Timestamp</th>
                  <th>Compass</th>
                  <th>Shadow</th>
                  <th>&nbsp;</th>
                </tr>

                <tr>
                  <td><p id="video_current_time" class="form-control-static">&nbsp;</p></td>
                  <td><input type="text" class="form-control" name="compass" placeholder="compass reading"></td>
                  <td><input type="text" class="form-control" name="shadow" placeholder="shadow reading"></td>
                  <td><button type="submit" class="btn btn-default">Save reading</button></td>
                </tr>

              </thead>
              <tbody>
              </tbody>
            </table>

          </form>

        </div>
      </div>
    </div>
  </div>


  <div class="row user_step">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Set time and location</h3>
        </div>
        <div class="panel-body">
          <p>To calculate accurately what angle the sun is at we need to know when and where the film was made. Get the picture of the time and coordinates onto one of the films above and then enter the details below.</p>

          <form class="form-horizontal" id="where_when_form">
            <div class="form-group">
              <label for="where_when_datetime" class="col-sm-2 control-label">Date and time in GMT</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="datetime" placeholder="yyyy/mm/dd hh:mm:ss GMT">
              </div>
              <div class="col-sm-4">
                <span class="where_when_input_parsed">&hellip;</span>
              </div>
            </div>
            <div class="form-group">
              <label for="where_when_latitude" class="col-sm-2 control-label">Latitude</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="latitude" placeholder="'DD MM.mmm' or 'DD MM SS.sss'">
              </div>
              <div class="col-sm-4">
                <span class="where_when_input_parsed">&hellip;</span>
              </div>
            </div>
            <div class="form-group">
              <label for="where_when_longitude" class="col-sm-2 control-label">Longitude</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="longitude" placeholder="'DD MM.mmm' or 'DD MM SS.sss'">
              </div>
              <div class="col-sm-4">
                <span class="where_when_input_parsed">&hellip;</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-4">
                <input type="submit" class="btn btn-default" value="Set date and location">
              </div>
              <div class="col-sm-4">
                <span class="where_when_input_parsed">&nbsp;</span>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="row user_step">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">What is the Azimuth Correction?</h3>
        </div>
        <div class="panel-body">

          <p>FIXME - explain to the user how to find the azimuth correction.</p>

          <form class="form-horizontal" id="azimuth_correction_form">
            <div class="form-group">
              <label for="where_when_datetime" class="col-sm-2 control-label">Correction</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="correction">
              </div>
              <div class="col-sm-4">
                <span class="where_when_input_parsed">&hellip;</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-4">
                <input type="submit" class="btn btn-default" value="Store Correction">
              </div>
              <div class="col-sm-4">
                <span class="where_when_input_parsed">&nbsp;</span>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>



  <ul id="data"></ul>


{% endblock %}
