{% extends "base.html" %}
{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'swing/sun.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block title %}Sun Swinging Demo{% endblock %}

{% block content %}

  <h1>Sun Swinging Demo</h1>

  <p>This is only demo code, not ready for production yet. To use you need two videos  - one of the compass and one of the sun on a special sun shadow card we produce - the sun pelorus.</p>

  <h2>Todo list:</h2>

  <ul>
    <li>Add controls to zoom in on parts of the video</li>
    <li>Add code to record the point at which the two videos are synced</li>
    <li>Add controls that play/pause etc the two videos at the same time</li>
    <li>Add code to record the current true time GMT and geolocation</li>
    <li>Add code to return the current solar azimuth for a given time</li>
    <li>Add code to store the pelorus correction angle</li>
    <li>Add steps that guide the user through the various things they need to do</li>
    <li>Record and compute the various readings of the deviation</li>
    <li>Store these readings to create a deviation table</li>
  </ul>


  <div class="row">
    {% include "swing/video_container.html" with heading="Compass" id="compass_video_container" %}
    {% include "swing/video_container.html" with heading="Shadow"  id="shadow_video_container"  %}
  </div>

  <div>
  </div>

  <ul id="data"></ul>


{% endblock %}
