<div id="{{ id }}" class="col-sm-6">

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">
        {{ heading }}
        <small class="current_time">-</small>
      </h3>
    </div>

    <div class="panel-body">

      <input type="file" accept="video/*"/>

      <div class="embed-responsive embed-responsive-16by9">
        <video {# class="img-responsive" #} muted></video>
      </div>

    </div>

    <div class="panel-footer">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button class="btn step_button" data-steps="-5">
            <span class="glyphicon glyphicon-backward"></span>
            <span class="glyphicon glyphicon-backward"></span>
          </button>
          <button class="btn step_button" data-steps="-1">
            <span class="glyphicon glyphicon-backward"></span>
          </button>
          <button class="btn step_button" data-steps="-0.03125">
            <span class="glyphicon glyphicon-step-backward"></span>
          </button>
        </div>

        <div class="btn-group" role="group">
          <button class="btn btn-default play_button">
            <span class="glyphicon glyphicon-play"></span>
          </button>
        </div>

        <div class="btn-group" role="group">
          <button class="btn step_button" data-steps="0.03125">
            <span class="glyphicon glyphicon-step-forward"></span>
          </button>
          <button class="btn step_button" data-steps="1">
            <span class="glyphicon glyphicon-forward"></span>
          </button>
          <button class="btn step_button" data-steps="5">
            <span class="glyphicon glyphicon-forward"></span>
            <span class="glyphicon glyphicon-forward"></span>
          </button>
        </div>

        <div class="btn-group" role="group">
          <button class="btn panzoom_button panzoom_zoomIn" data-action="zoomIn">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button class="btn panzoom_button panzoom_zoomOut" data-action="zoomOut">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
          <button class="btn panzoom_button panzoom_reset" data-action="reset">
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
        </div>
      </div>
    </div>
  </div>



</div>
